<div class="main">
    <div class="mainFirst">
        <div class="accountCard">
            <img class="cardImg" src="/assets/Get_Paid_Instantly.png"/>
            <div class="cardTxt txtcolor">Quick cash disbursement</div>
            <div class="cardTxt">Get terms loans that your business needs within 72 hrs</div>
        </div>
        <div class="accountCard">
            <img class="cardImg" src="/assets/Low_interest_rate.png"/>
            <div class="cardTxt txtcolor">Low-interest rate</div>
            <div class="cardTxt">Achieve your financial goals with an amazing interest rate starting at 13% per annum</div>
        </div>
        <div class="accountCard">
            <img class="cardImg" src="/assets/Secure_Payments.png"/>
            <div class="cardTxt txtcolor">Zero Paperwork</div>
            <div class="cardTxt">Get started instantly by submitting only your basic details & bank statements</div>
        </div>
    </div>
    <div class="mainSecond">
        <div class="accountCard cardBGColor">
            <img class="cardImg" src="/assets/freelancer_feature_icon.png"/>
            <div class="cardTxt cardTxtMColor"><b>Ace your business finances</b></div>
            <div class="cardTxt cardTxtMColor">Manage banking, accounting & everything in between, on one platform</div>
        </div>
        <div class="accountCard">
            <img class="cardImg" src="/assets/Covid.png"/>
            <div class="cardTxt txtcolor">Loans to fight COVID-19</div>
            <div class="cardTxt">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</div>
        </div>
    </div>
    <div class="mainThird">
        <div class="businessTxt">Boost your business with Open</div>
        <div class="line"></div>
        <div class="subTxt">Get your hands on a term loan that’s<br> crafted for your business</div>
        <button id="openAccount" class="openBtn">Get an Open Account</button>
    </div>
    <img class="waveImg" src="/assets/sol_wave_bg.svg"/>
</div>
